<ion-view style="" id="admin" title="Check List">
	<ion-content class="has-header " padding="true" overflow-scroll:false  ng-init="loadAdminPost()">
<div ng-repeat="(name,postItemToGo) in Aposts">
	<div  ng-if="!postItemToGo.postStatus && !postItemToGo.postAdminChecked">
		<div class="list card" ng-init="getUserName(name)">
				<div class="item item-avatar">						
					<img ng-if="user.image" src="{{user.image}}">
					<img ng-if="!user.image" src="img/defaultuser.png">
					<h2 class="marginfiveTop">{{unUserName}}</h2>
				</div>
			<div class="item item-text-wrap">
			<p>{{postItemToGo.postText}}</p>
			</div>
			<div class="item item-image" ng-if="postItemToGo.postImage">
				<img src="{{postItemToGo.postImage}}">
			</div>
			<div class="item">
				
				<div class="row">
					<div class="col col-50"><h3>Sharing for:</h3></div>
						<div class="col"><i ng-class="postItemToGo.facebook ? 'custom-icon-facebook' : 'custom-icon-nofacebook'" class="icon ion-social-facebook"></i></div>
						<div class="col"><i ng-class="postItemToGo.twitter ? 'custom-icon-twitter' : 'custom-icon-notwitter'"  class="icon ion-social-twitter"></i></div>
						<div class="col"><i ng-class="postItemToGo.instagram ? 'custom-icon-instagram' : 'custom-icon-noinstagram'"  class="icon ion-social-instagram-outline"></i></div>
				</div>
				<br>
				<div class="list">
					<div class="row">
						<div class="col">
							<a class="item custom-icon-checkmark" ng-click="approve(name)">
							<i class="icon ion-checkmark"></i>
								Approve
							</a>
						</div>
						<div class="col">
							<a class="item assertive"  ng-click="reject(name)">
								<i class="icon ion-close"></i>
								Reject
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
		</div>
	</ion-content>
</ion-view>