<ion-view class="pane" id="login" title="Login" hide-nav-bar="true">
    <ion-content  padding="false" scroll="false" class="manual-ios-statusbar-padding">
        <div  class="overlogo">
          <div class="logotext">WATCHAPP</div>
          <div class="sublogotext">Live fast, share fast</div>
      </div>

      <div class="goButtom">
          <button class="button buttonNoMargin button-full button-positive" ng-click="loginWithFacebook()">
            Sign in with Facebook
        </button>
        <button class="button buttonNoMargin button-full button-assertive" ng-click="loginWithGoogle()">
            Sign in with Google
        </button>
        <button  class="button buttonNoMargin button-full button-dark" ng-click="loginwithmail()">
            Sign in with Email
        </button>
    </div>



</ion-content>
</ion-view>