<ion-view style="" id="signup" title="Signup" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" class="manual-ios-statusbar-padding">
        <form name="signupForm" class="list goButtom" id="signup-form2">
            <ion-list id="signup-list2">
                <label id="signup-input3" class="item item-input">
                    <input placeholder="Email" type="text" ng-model="user.email">
                </label>
                <label id="signup-input4" class="item item-input">
                    <input placeholder="Username" type="text" ng-model="user.username">
                </label>
                <label id="signup-input5" class="item item-input">
                    <input placeholder="Password" type="password" ng-model="user.password">
                </label>
            </ion-list>
            <button class="button button-stable  button-block" id="signup-button3" ng-click="signupEmail(signupForm,user)">Sign Up</button>
            <a class="button button-positive  button-block button-clear" style="color:#FF9955; margin-top:15%;" id="login-button2" ui-sref="login">Or Sign In</a>
        </form>
    </ion-content>
</ion-view>