<ion-view style="" id="tabsCtrl" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top tabs-color-assertive">
        <ion-tab id="tabsController-tab1" title="Shared" icon="ion-paper-airplane" href="#/tabsCtrl/shared">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab3" title="Status" icon="ion-grid" href="#/tabsCtrl/pending">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>